# Ignore raw data folders
raw_data/
clean_nyc/
data/daily_features.csv/
data/clean_chicago/
data/clean_nyc/
clean_chicago/
crime_occurrence_per_day/
nypd_all/
output/merged_data/
*.csv
*.parquet
*.orc
*.zip
*.gz
ml_code/models/*.pkl
models/